.Calendar {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    background: #797979;
}

.Calendar h1 {
    color: white;
    margin: 10px 0 0 0;
    margin-left: 10px;
}

.CalendarBorder {
    width: 1155px;
}

.Month {
    padding: 10px;
    color: white;
    border: 2px solid #fff;
    border-radius: 5px;
    margin: 0px;
    box-sizing: border-box;
    display: flex;
}

.Month .Title {
    justify-content: space-between;
    display: flex;
    padding: 0px 10px;
    
}
.Month .Title button {
    background: inherit;
    padding: 2px 7px;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
}

.Edit {
    padding-left: 10px;
    width: 300px;
    text-align: center;
    display: block;
}
.Edit .Events {
    margin-top: 15px;
    background: #fff;
    height: 250px;
    border-radius: 4px;
    padding: 5px;
    overflow-y: auto;

}

 .Upcoming {
    color: #000;
    margin: 0px 10px;
    margin-bottom: 10px;
    padding: 0px 10px;
    background: #aaa;
    border-radius: 4px;
    color: #fff;
}

.Edit .Events .Upcoming p {
    margin: 0px;
}