.Create {
    margin-top: 10px;
    
}
.Create p {
    margin: 0;
    margin-top: 10px;
    text-align: left;
    margin-bottom: 5px;
}
.Create button{
    background: inherit;
    margin-top: 35px;
    padding: 5px 15px;
    border: 1px solid #666;
    border-radius: 4px;
    color: #666;
    margin-right: 25px;
    margin-left: 25px;
}

.Create input{
    background: inherit;
    border: 1px solid #666;
    border-radius: 4px;
    color: #666;
}

.Create .start, .end{
    margin-top: 10px;
    text-align: center;
    justify-content: center;
}