.Modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0, .5);
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5rem;
}

.ModalBody {
    padding: 3rem;
    width: 300px;
    border-radius: 5px;
    background: white;
    height: 150px;
}

.Button {
    margin-bottom: 15px;
}