.Modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0, .5);
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5rem;
}

.ModalBody {
    padding: 3rem;
    width: 250px;
    border-radius: 5px;
    background: white;
    height: 350px;
}

.Button {
    background: inherit;
    margin-top: 15px;
    padding: 5px 15px;
    border: 1px solid #666;
    border-radius: 4px;
    color: #666;
}